:root{
    --bg-color:#0A0A0A;
    --text-color: #FBF9F5;
    --font-family: 'jetbrains mono';
}


body{
  background-color: var(--bg-color);
  color:var(--text-color);
  font-family: var(--font-family);
}
